body{
    background-color: blanchedalmond;    
}

h1{
    text-align: center;
    color: chocolate;
}

.cajaTexto{
    background-color: chocolate;
    width: 300px;
    height: 300px;
    margin: auto;
    transform: rotate(-60deg);
}

.botonVolver{
    background-color: chocolate;
    color: white;
    bottom: 100px;
    margin-left: 45%;
    position: fixed;
    text-decoration: none;
    padding: 10px;
}
