* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Righteous';
    src: url("C:/Users/arona/Downloads/Righteous-Regular.ttf");
}

body {
    font-family:'Righteous', sans-serif;
    color:rgb(21, 183, 21);
    font-weight: 400;
}


.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 50vh 40vh 100vh;
    grid-template-areas: 
    "head"
    "article1"
    "article2"
    "pie";
}

.head {
    grid-area: head;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

h1 {
    color: rgb(21, 183, 21);
    font-weight: bolder;
    width: 50%;

}

h2 {
    color: rgb(21, 183, 21);
    padding: 10px;
}

ul {
    list-style: none;
    color: rgb(21, 183, 21);
    font-weight: bold;
}

.articulo1 {
    grid-area: article1;
    background-color: grey;
    color: white;
    padding: 10px;
}

.articulo2 {
    grid-area: article2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img {
    width: 25%;
}

.imagen9 {
    display: none;
}

.pie p {
    color: black;
    padding: 10px;
}

h3 {
    padding-top: 10px;
    padding-left: 10px;
}

h4 {
    padding-left: 10px;
}



@media screen and (min-width: 576px) {
    .contenedor {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 8vh 40vh 10vh;
        grid-template-areas: 
        "head head head head"
        "article1 article1 article2 article2"
        "pie pie pie pie";
    }

    .head {
        grid-area: head;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
    }

    nav li {
        display: inline-block;
        padding-top: 20px;
        padding-left: 10px;
    }

    img {
        width: 50%;
        height: 25%;
    }

    .imagen9 {
        display: none;
    }
    
    .pie {
        grid-area: pie;
        display: flex;
        flex-direction: row;
    }

    .columna {
        width: 25%;
    }

}


@media screen and (min-width: 992px) {
    .contenedor {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 100px 600px 100px;
        grid-template-areas: 
        "head head head head"
        "article2 article2 article1 article1"
        "pie pie pie pie";
    }

    .head {
        grid-area: head;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
    
    .imagen9 {
        display: block;
    }

    img {
        width: 33.3%;
        height: 33%;
    }
    
}
    

