* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/bg2.jpg);
}

h1 {
    font-size: 1.6rem;
    padding-top: 10px;
    color: olivedrab;
}

h2 {
    font-size:1.2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    text-align: left;
    font-size: 1.1em;
    padding-left: 20px;
    padding-top: 10px;
    color: rgb(99, 98, 98);
}

.contenedor {
    padding-right: 5px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 180px 480px 15%;
    grid-template-areas: 
    "head"
    "principal"
    "izquierda"
    "derecha"
    "pie";
}

.head {
    grid-area: head;
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: row;
}


nav {    
    display: flex;
    flex-direction: column;
}

nav li {
    list-style: none;
    padding: 5px;
    padding-left: 10px;
}

.principal {
    grid-area: principal;
    background-image: url(images/bg.png);
    padding: 10px;
}

.articulo2{
    display: none;
}

.izquierda {
    background-color: rgb(137, 171, 68);
    color: white;
    grid-area: izquierda;
    padding: 10px;
}

.izquierda img {
    display: none;
}

.cuadro img {
    display: inline-block;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;   
}

.derecha {
    grid-area: derecha;
    background-image: url(images/bg.png);
    padding: 10px;
}

.derecha img {
    display: none;
}

.articulo2 h2 {
    color: rgb(99, 98, 98);
}

.derecha ul {
    margin: auto;
    padding-left: 20px;
    list-style-position: inside;
    list-style-type: square;
    text-align: left;
    color: rgb(99, 98, 98);
}

.direccion {
    width: 60%;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

.telefono {
    width: 60%;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pie {
    grid-area: pie;
    background-color: grey;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@media screen and (min-width: 576px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body{
        background-image: url(images/bg2.jpg);
    }
    
    .contenedor {
        padding-right: 5px;
        padding-left: 5px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 10vh 130vh 20vh;
        grid-template-areas: 
        "head head head head"
        "izquierda principal principal derecha"
        "pie pie pie pie";
    }
    
    .head {
        grid-area: head;
        background-color: grey;
        color: white;
        justify-content: space-between;
    }
    
    nav li {
        display: inline-block;
        list-style:none;
        padding: 20px 30px 20px 30px;
    }
    
    .principal {
        grid-area: principal;
        background-image: url(images/bg.png);
    }
    
    h1 {
        font-size: 1.6rem;
        padding-top: 10px;
        color: olivedrab;
    }
    
    h2 {
        font-size:1.2em;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    h3 {
        text-align: left;
        font-size: 1.1em;
        padding-left: 20px;
        padding-top: 10px;
        color: rgb(99, 98, 98);
    }
    
    
    .izquierda {
        grid-area: izquierda;
        background-image: url(images/bg.png);
        padding: 20px 20px 20px 0;
    }
    
    .cuadro {
        background-color: rgb(87, 116, 31);
        width: 176px;
        position: relative;
        top: -15px;
        color: white;
        font-weight: 400;
        padding: 20px 5px;
    }
    
    .cuadro img {
        padding-top: 10px;
    }
    
    .derecha {
        grid-area: derecha;
        background-image: url(images/bg.png);
        padding: 20px;
        text-align: center;
    }
    
    .pie {
        grid-area: pie;
        background-color: grey;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        text-align: left;
    }
    
    .columna {
        width: 20%;
    }
    
    .articulo2 h2 {
        color: rgb(99, 98, 98);
    }
    
    .derecha ul {
        margin: auto;
        padding-left: 20px;
        list-style-position: inside;
        list-style-type: square;
        text-align: left;
        color: rgb(99, 98, 98);
    }
    
    .direccion {
        width: 60%;
        margin: auto;
        border: 1px solid black;
        padding: 5px;
        margin-top: 5px;
    }
    
    .telefono {
        width: 60%;
        margin: auto;
        border: 1px solid black;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}