body {
    text-align: center;
    background-color:whitesmoke;
}

h1{
    color: steelblue;
    text-align: center;
}

.contenedor {
    width: 70%;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#azul {
    background-color: rgb(183, 224, 249);    
    border: 1px solid black;
   }
#rojo {
    background-color: rgb(249, 184, 184);
    border: 1px solid black;    
}
#amarillo {
    background-color: rgb(251, 251, 161);    
    border: 1px solid black;
}